[submodule "third_party/loom-dataflow"]
	path = third_party/loom-dataflow
	url = ../loom-dataflow.git
	branch = feature/symbolic
[submodule "third_party/helion-mlir"]
	path = third_party/helion-mlir
	url = ../helion-mlir.git
	branch = main
[submodule "third_party/loom-mlar"]
	path = third_party/loom-mlar
	url = ../loom-mlar.git
	branch = main
[submodule "third_party/loom2ttkernel"]
	path = third_party/loom2ttkernel
	url = ../loom2ttkernel.git
	branch = main
