Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM no
StrictModes yes

AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding no
PermitTunnel no
GatewayPorts no

AuthorizedKeysFile .ssh/authorized_keys
AcceptEnv LANG LC_*
SetEnv TTMLIR_TOOLCHAIN_DIR=/opt/ttmlir-toolchain TTMLIR_SOURCE_DIR=/opt/tt-mlir TTMLIR_BUILD_DIR=/opt/tt-mlir/build TTMLIR_VENV_DIR=/opt/ttmlir-toolchain/venv MLIR_DIR=/opt/ttmlir-toolchain/lib/cmake/mlir LLVM_DIR=/opt/ttmlir-toolchain/lib/cmake/llvm TT_METAL_RUNTIME_ROOT=/opt/tt-mlir/third_party/tt-metal/src/tt-metal TT_METAL_HOME=/opt/tt-mlir/third_party/tt-metal/src/tt-metal TT_METAL_BUILD_HOME=/opt/tt-mlir/third_party/tt-metal/src/tt-metal/build RUSTUP_HOME=/opt/rustup CARGO_HOME=/opt/cargo PATH=/opt/tt-mlir/build/bin:/opt/ttmlir-toolchain/bin:/opt/ttmlir-toolchain/venv/bin:/root/.tenstorrent-venv/bin:/opt/cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin PYTHONPATH=/opt/tt-mlir/build/python_packages:/opt/tt-mlir/build/runtime/python:/opt/ttmlir-toolchain/python_packages/mlir_core LD_LIBRARY_PATH=/opt/tt-mlir/build/lib:/opt/ttmlir-toolchain/lib:/opt/tt-mlir/third_party/tt-metal/src/tt-metal/build/lib

Subsystem sftp internal-sftp
PidFile /run/sshd.pid
LogLevel INFO
